<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/css/mdb.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css">
    <style type="text/css">
        body {
            padding-top: 0;
            font-size: 12px;
            color: #777;
            background: #f9f9f9;
            font-family: 'Open Sans',sans-serif;
            /*margin-top:20px;*/

        }

        .bg-white {
            /*background-color: #fff;*/
            background: transparent;
        }

        .friend-list {
            list-style: none;
            margin-left: -40px;
        }

        .friend-list li {
            border-bottom: 1px solid #eee;
        }

        .friend-list li a img {
            float: left;
            width: 45px;
            height: 45px;
            margin-right: 0px;
        }

        .friend-list li a {
            position: relative;
            display: block;
            padding: 10px;
            transition: all .2s ease;
            -webkit-transition: all .2s ease;
            -moz-transition: all .2s ease;
            -ms-transition: all .2s ease;
            -o-transition: all .2s ease;
        }

        .friend-list li.active a {
            background-color: #f1f5fc;
        }

        .friend-list li a .friend-name,
        .friend-list li a .friend-name:hover {
            color: #777;
        }

        .friend-list li a .last-message {
            width: 65%;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .friend-list li a .time {
            position: absolute;
            top: 10px;
            right: 8px;
        }

        small, .small {
            font-size: 85%;
        }

        .friend-list li a .chat-alert {
            position: absolute;
            right: 8px;
            top: 27px;
            font-size: 10px;
            padding: 3px 5px;
        }

        .chat-message {
            padding: 60px 20px 115px;
        }

        .chat {
            list-style: none;
            margin: 0;
        }

        .chat-message{
            background: #f9f9f9;

        }

        .chat li img {
            width: 45px;
            height: 45px;
            border-radius: 50em;
            -moz-border-radius: 50em;
            -webkit-border-radius: 50em;
        }

        img {
            max-width: 100%;
        }

        .chat-body {
            padding-bottom: 20px;
        }

        .chat li.left .chat-body {
            margin-left: 70px;
            background-color: #fff;
        }

        .chat li .chat-body {
            position: relative;
            font-size: 11px;
            padding: 10px;
            border: 1px solid #f1f5fc;
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }

        .chat li .chat-body .header {
            padding-bottom: 5px;
            border-bottom: 1px solid #f1f5fc;
        }

        .chat li .chat-body p {
            margin: 0;
        }

        .chat li.left .chat-body:before {
            position: absolute;
            top: 10px;
            left: -8px;
            display: inline-block;
            background: #fff;
            width: 16px;
            height: 16px;
            border-top: 1px solid #f1f5fc;
            border-left: 1px solid #f1f5fc;
            content: '';
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
        }

        .chat li.right .chat-body:before {
            position: absolute;
            top: 10px;
            right: -8px;
            display: inline-block;
            background: #fff;
            width: 16px;
            height: 16px;
            border-top: 1px solid #f1f5fc;
            border-right: 1px solid #f1f5fc;
            content: '';
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
        }

        .chat li {
            margin: 15px 0;
        }

        .chat li.right .chat-body {
            margin-right: 70px;
            background-color: #fff;
        }

        .chat-box {
            position: fixed;
            bottom: 0;
            left: 444px;
            right: 0;
            padding: 15px;
            border-top: 1px solid #eee;
            transition: all .5s ease;
            -webkit-transition: all .5s ease;
            -moz-transition: all .5s ease;
            -ms-transition: all .5s ease;
            -o-transition: all .5s ease;
        }
        #chat_box
        {
            height: 400px;
            overflow-y: scroll;
            overflow-x: hidden;
            word-wrap: break-word;
        }
        .friend-list
        {
            height:450px;
            overflow-y: scroll;
        }

        .primary-font {
            color: #3c8dbc;
        }
        .log
        {
            font-family:"Roboto", sans-serif ;
        }
        a:hover, a:active, a:focus {
            text-decoration: none;
            outline: 0;
        }

    </style>
</head>
<body onload="scrlsts()">
<!--Used for storing various data-->
<input type="hidden" id="username" value="<%=user.userFirstName%>"></input>
<input type="hidden" id="userid" value="<%=user._id%>"></input>
<% if (user) { %>
<!--navbar-->
<nav class="navbar navbar-toggleable-md navbar-dark default-color">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="/images/logo_small.gif">
        </a>
        <!-- nav elements -->
        <div class="collapse navbar-collapse" id="navbarNav3">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope" aria-hidden="true"></i> Private Chat Mode</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#grp_name_modal"><i class="fa fa-plus-circle"></i> Create Group</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-default btn-sm dropdown-toggle fa fa-user" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"><%= user.userFirstName %></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                            <h6 class="dropdown-header"><%= user.userFirstName +" "+user.userLastName %></h6>
                            <a class="dropdown-item" href="#" id="refresh">Refresh</a>
                            <a class="dropdown-item" href="#" id="offline" value="0">Go offline</a>
                            <a class="dropdown-item"  data-toggle="modal" data-target="#logoutModal">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- end nav elements -->
    </div>
</nav>
<!--<div class="container bootstrap snippet">-->
<div class="container">
    <div class="row">
        <div class="col-sm-4 bg-white ">
            <div class="row border-bottom padding-sm" id ="online_user_list" style="height: 40px;font-size: 20px">
            </div>
            <!-- member list -->
            <ul class="friend-list" id="friend-list"></ul>
        </div>

        <!-- selected chat -->
        <div class="col-sm-8 bg-white">
            <div class="row">
                <div class="col-sm-12">
                    <div class="chat-message">
                        <ul class="chat" id="chat_box">
                        </ul>
                        <div id="typing">
                            <ul>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <!-- end of chatbox -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="chat-box bg-white">
                        <div class="input-group">
                            <input class="form-control border no-shadow no-rounded" id="input" placeholder="Type your message here" autocomplete="off">
                            <span class="input-group-btn" style="height:60px;">
            			<button class="btn btn-success no-rounded" id="send" type="button">Send</button>
            		</span>
                        </div><!-- /input-group -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Settings Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <!--<span aria-hidden="true">&times;</span>-->
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Confirm Your Action</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
                <h4 class="w-100" id="myModalLabel">Do you want to move to Private Chat Mode?</h4>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="private_chat">Yes</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- /.Live preview-->
<!-- Logout Modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <!--<span aria-hidden="true">&times;</span>-->
                </button>
                <h4 class="modal-title w-100" id="logoutModalLabel"></h4>
            </div>
            <!--Body-->
            <div class="modal-body">
                <h4 class="modal-title w-100">Do you really want to logout?</h4>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="logout">Yes</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Group Name Modal -->
<div class="modal fade" id="grp_name_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Create New Group</h4>
            </div>
            <!--Body-->
            <div class="modal-body">
                <div class="md-form">
                    <input type="text" id="grp_name" class="form-control">
                    <label for="form1"></label>
                </div>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="new_grp_btn">Create Group</button>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!-- Group Name Modal -->
<% } %>

<script src="javascripts/lodash.js"></script>
<script src="/bootstrap/js/jquery-3.1.1.js"></script>
<script src="/bootstrap/js/tether.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/socket-client-group.js"></script>
<script src="javascripts/script.js"></script>

</body>
</html>
