<!DOCTYPE html>
<html >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">



    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/mdb.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="favicon.ico" >
    <link rel="icon" type="image/gif" href="animated_favicon1.gif" >
</head>

<body onLoad="scrlsts()">
<style>
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<div class="container">
    <div class = "row" >

        <div class="login-page">
            <img src="/images/logo.png" alt="Logo" style="margin-left: 45px;">
            <div class="form centered">

                <div class="social-buttons">
                    <button type="button" class="btn btn-fb" id="fb-btn"><i class="fa fa-facebook left"></i> Login with Facebook</button>

                    <button type="button" class="btn btn-gplus" id="g-btn"><i class="fa fa-google-plus left"></i> Login with Google</button>
                </div>
            </div> <!-- end form -->
        </div> <!-- end login container -->
    </div>
</div>
</div>
<script type="text/javascript" src="/bootstrap/js/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/tether.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/bootstrap/js/mdb.min.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>

</body>
</html>